    <section class="bar-header">
        <bar-side></bar-side>

        <section>
            <header>
                <h2>Dashboard</h2>
                <h2>Waiter</h2> 
            </header>  

        </section>
    </section>
        
    <main>  

        <button (click)="filterStatus('pending')">Pending</button>
        <button (click)="filterStatus('delivering')">Delivering</button>
        <button (click)="filterStatus('delivered')">Delivered</button>

        <section *ngFor="let order of orders, index as i" class="orders">
            <section class="order">
                <div class="order-body">        
                    <span class="order-id">Order: {{order.client |uppercase}}</span>
                    <span class="order-id">Status: {{order.status |lowercase}}</span>
                </div>
                <div class="order-footer">
                    <input *ngIf="order.status === 'pending'" type="button" value="It's done" (click)="deliverOrder(order)">
                </div>
            </section>
        </section>
    </main>
   